<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ get_text('unifac_title', current_language) }}</title>
</head>
<body>
    <h2>{{ get_text('unifac_title', current_language) }}</h2>
    <form action="/calculate" method="POST">
        <label>{{ get_text('component1', current_language) }}</label><br>
        <input type="text" name="component1" required><br><br>

        <label>{{ get_text('component2', current_language) }}</label><br>
        <input type="text" name="component2" required><br><br>

        <label>{{ get_text('temperature', current_language) }} (K):</label><br>
        <input type="number" name="temperature" required><br><br>

        <label>{{ get_text('pressure', current_language) }} (atm):</label><br>
        <input type="number" name="pressure" required><br><br>

        <button type="submit">
             {{ get_text('calculate', current_language) }}
        </button>
    </form>
</body>
</html>